# ============================
# Python Cache
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ============================
# Virtual Environment
# ============================
venv/
.venv/
env/

# ============================
# IDE
# ============================
.vscode/
.idea/

# ============================
# Jupyter Notebook
# ============================
.ipynb_checkpoints/

# ============================
# Environment Variables
# ============================
.env

# ============================
# Dataset
# (Tidak perlu di-upload ke GitHub)
# ============================
dataset/

# ============================
# Upload User
# ============================
static/uploads/*
!static/uploads/.gitkeep

# ============================
# Logs
# ============================
*.log

# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db
desktop.ini